.page-content {
  min-height: calc(100svh - 76px);
  background: radial-gradient(ellipse at 0 0, rgb(146 27 47 / 7%), transparent 50%), radial-gradient(ellipse at 100% 0, rgb(27 147 190 / 7%), transparent 50%);

  @media (min-width: 768px) {
    min-height: calc(100svh - 96px);
  }

  @media (min-width: 1200px) {
    min-height: calc(100svh - 112px);
  }
}
